.hidden {
  display: none;
}

#dealerCards {
  position:absolute;
  top: 100px;
  right: 100px;
  height: 25%;
  width: 25%;
  background-color: red;
}

#playerCards {
  color: white;
  position: absolute;
  bottom: 100px;
  right: 100px;
  height: 25%;
  width: 25%;
  background-color: blue;
}
